@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&family=Montserrat:wght@500&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=PT+Serif&family=Poppins:wght@200&family=Sora:wght@100;200;300;400;500;600;700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

:root {
    --dark-color: #424247;
    --description-color: rgba(19, 19, 24, 0.70);
    --title-color: #131318;
    --destination-color: #fff;
    --site-color: #FF5400;
    --description-font-size: 0.8rem;
    --title-font-size: 2.5rem;
    --title-font-weight: 800;
}

.primary-btn {
    background-color: #FF5400;
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    color: #fff;
}

.description {
    color: var(--description-color);
    font-size: var(--description-font-size);
}

.space {
    margin-left: 4rem;
    margin-right: 4rem;
}

/* nav container styles  */

.site-logo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.discover-text,
.champion-text {
    font-weight: 800;
    font-size: 2rem;
}

.discover-text {
    color: var(--title-color);
}

.champion-text {
    color: var(--site-color);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.nav-container>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-container>ul>li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 1rem;
    font-weight: 700;
}

.active-tab {
    color: var(--site-color);
}

/* mobile-device */

.menu {
    display: none;
    width: 1.5rem;
    height: auto;
    position: static;
}

.dropdown {
    display: none;
}

.menu a:hover .dropdown {
    display: block;
    color: #FF5400;
}

/* banner container styles */

.banner-container {
    background-image: url('/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 4rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.banner-title {
    font-size: 4rem;
    color: #fff;
    font-weight: 800;
    margin-bottom: 1.3rem;
}

.banner-description {
    color: var(--destination-color);
    font-size: var(--description-font-size);
}

.fill-info {
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    margin-top: 3rem;
}

.fill-info input,
select {
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    border: none;
    margin-right: 0.5rem;
    color: rgba(19, 19, 24, 0.50);
    font-size: 0.8rem;
}

/* Our Popular Tours container styles  */
.popular-tours-container {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 2rem;
    margin-bottom: 3rem;
}

.popular-tours-content>ul {
    padding-left: 20px;
    margin: 1rem 0;
    color: var(--description-color);
}

.popular-tours-content>p {
    color: var(--description-color);
}

.popular-tours-content>button {
    margin-top: 20px;
}

.popular-tour-img img {
    width: 400px;
}

.popular-tours-title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    margin-bottom: 1rem;
}

/* Choose Your Destination container styles  */
.destination-container {
    text-align: center;
    margin-bottom: 3rem;
}

.destination-title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: var(--title-color);
    margin-bottom: 1rem;
}

.destination-description {
    font-size: var(--description-font-size);
    color: var(--description-color);
    margin-bottom: 2rem;
}

#spacial-destination-1 {
    grid-area: destination-1;
    position: relative;
}

#spacial-destination-2 {
    grid-area: destination-2;
    position: relative;
}

#spacial-destination-3 {
    grid-area: destination-3;
    position: relative;
}

#spacial-destination-4 {
    grid-area: destination-4;
    position: relative;
}

#spacial-destination-5 {
    grid-area: destination-5;
    position: relative;
}

#spacial-destination-6 {
    grid-area: destination-6;
    position: relative;
}

#spacial-destination-6 {
    width: calc(100% + 100px);
}

#spacial-destination-7 {
    margin-left: 100px;
}

#spacial-destination-7 {
    grid-area: destination-7;
    position: relative;
}

.choose-destination {
    display: grid;
    grid-template-areas:
        "destination-1 destination-1   destination-2 destination-2"
        "destination-3  destination-4  destination-4 destination-5"
        "destination-6  destination-7 destination-7  destination-7";
    gap: 1rem;
}

.destination>img {
    width: 100%;
    height: 300px;
}

.destine-data {
    position: absolute;
    text-align: center;
    left: 40%;
    bottom: 150px;
    color: var(--destination-color);
}

.spacial-destination-1 {
    grid-column: 500px;

}

/* Why Choose Us container styles */
.choose-us-container {
    margin-bottom: 3rem;
}

.choose-us-title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: var(--title-color);
    margin-bottom: 1rem;
}

.choose-us-content {
    text-align: center;
    margin-bottom: 3rem;
}

.choose-us-content>p {
    color: var(--description-color);
    font-size: var(--description-font-size);
}

.choose-1,
.choose-2,
.choose-3,
h3 {
    margin-bottom: 1rem;
    margin-top: 1.7rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.choose-1 {
    grid-area: choose1;
    background: rgba(251, 181, 99, 0.05);
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    padding: 1.5rem;
}


.choose-2 {
    grid-area: choose2;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 1.5rem;
}

.choose-3 {
    grid-area: choose3;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 1.5rem;
    width: 70%;
    margin: 0 auto;
}

.choose-content-info {
    display: grid;
    grid-template-areas:
        "choose1 choose1   choose2  choose2"
        "choose3 choose3   choose3  choose3";
    gap: 1.8rem;
}
/* Travel infographic container  */



/* Newsletter container styles  */
.newsletter-container {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 2rem;
    margin-bottom: 3rem;
}

.newsletter-img img {
    width: 100%;
    height: 100%;
}

.subscribe-container {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 2rem;
}

.subscribe-title {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

form>input {
    display: block;
    border: none;
}

form {
    margin-top: 2rem;
}

form>input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    height: 41px;
    width: 90%;
    padding: 1rem;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.subscribe-btn {
    background-color: var(--site-color);
    padding: 14px;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: 0.9rem;
}

.save-up {
    width: 260px;
    height: 100px;
    background-color: #FF5400;
    color: #fff;
    text-align: center;
    border-radius: 0.6rem;
    padding-top: 1.5rem;
    position: relative;
    left: 47%;
    bottom: 190px;
    transform: rotate(-36deg);
}

/* footer container  */
footer{
    background-color: rgba(19, 19, 24, 0.05);;
    text-align: center;
}
.footer-container{
    padding: 90px;
}
.footer-site-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 1rem;
}
.social-sites{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    cursor: pointer;
}
hr{
    background: rgba(19, 19, 24, 0.10);
    margin-top: 50px;
    margin-bottom: 50px;
}

.all-right{
    color: #131318;
    font-weight: 400;
    font-size: 16px;
}





/* Responsive website  */

/* Responsive Mobile device  */

@media screen and (max-width: 676px) {
    .space {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .nav-container>ul {
        display: none;
    }

    .discover-text,
    .champion-text {
        font-weight: 700;
        font-size: 1rem;
    }

    .site-logo {
        gap: 5px;
    }

    .site-logo>img {
        width: 30px;
        height: auto;
    }

    .nav-container>.menu {
        display: block;
    }

    .banner-container {
        padding: 1rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .banner-title {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .fill-info {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .fill-info input,
    select,
    button {
        display: block;
    }

    .popular-tour-img>img {
        width: 100%;
    }

    .popular-tours-title {
        font-size: 2rem;
        font-weight: 700;
    }

    .popular-tours-container {
        flex-direction: column;
    }

    .choose-destination {
        grid-template-areas:
            "destination-1 destination-1 destination-1 destination-1"
            "destination-2 destination-2 destination-2 destination-2"
            "destination-3 destination-3 destination-3 destination-3"
            "destination-4 destination-4 destination-4 destination-4"
            "destination-5 destination-5 destination-5 destination-5"
            "destination-6 destination-6 destination-6 destination-6"
            "destination-7 destination-7 destination-7 destination-7";
    }

    #spacial-destination-6 {
        width: 100%;
    }

    #spacial-destination-7 {
        margin-left: 0;
    }

    .choose-content-info {
        grid-template-areas:
            "choose1 choose1  choose1  choose1"
            "choose2 choose2  choose2  choose2"
            "choose3 choose3  choose3  choose3";
    }

    .choose-3 {
        width: 90%;
        margin: 0 0;
    }

    .newsletter-container {
        flex-direction: column;
    }

    .save-up {
        width: 200px;
        height: 80px;
        position: relative;
        left: 35%;
        bottom: 160px;
        transform: rotate(-36deg);
    }

}





/* Responsive Tablet  device  */

@media screen and (min-width: 676px) and (max-width: 960px) {
    .space {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
    }

    .nav-container {
        flex-direction: column;
    }

    .banner-container {
        padding: 1rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .fill-info {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .popular-tour-img>img {
        width: 100%;
    }

    .popular-tours-container {
        flex-direction: column;
    }

    .choose-destination {
        grid-template-areas:
            "destination-1 destination-1 destination-2 destination-2"
            "destination-3 destination-3 destination-4 destination-4"
            "destination-5 destination-5 destination-6 destination-6"
            "destination-7 destination-7 destination-7 destination-7";
    }

    #spacial-destination-6 {
        width: 100%;
    }

    #spacial-destination-7 {
        margin-left: 0;
    }
    .newsletter-container {
        flex-direction: column;
    }
    .subscribe-container{
        margin-bottom: 3rem;
    }
    .save-up {
        width: 300px;
        height: 100px;
        background-color: #FF5400;
        color: #fff;
        text-align: center;
        border-radius: 0.6rem;
        padding-top: 1.5rem;
        position: relative;
        left: 53%;
        bottom: 200px;
        transform: rotate(-36deg);
    }

}